#new-author-well{
  display: none;
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
}

#close-new-author-form{
  cursor: pointer;
  position:inherit;;
  right: 2%;
  top: 2%;
}

#close-new-author-form:hover{
  cursor: pointer;
}
